.body-content {
   background-size: cover;
	width:100%;		
}

body {
	
	text-align:center;
	font-family: 'Raleway', sans-serif;
}
footer {
	text-align:right;
}
.panel-transparent {
        background: none;
    }

    .panel-transparent .panel-heading{
    
        background: rgba(122, 130, 136, 0.2)!important;
    }

    .panel-transparent .panel-body{
        background: rgba(46, 51, 56, 0.2)!important;
    }
#next{
	background-color:#00897B;
	color: white;
}
#play {
	background-color:#4a6a9e;
	color:white;
}

    

    /*font-family: 'Muli', sans-serif;*/

    /*font-family: 'Work Sans', sans-serif;*/*/

